<html>
  <head>
    <style>
      body {
          background: #999 url(http://raphaeljs.com/images/bgbg.png);
          font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
          color: #000;
          margin: 10px 0 0 0;
          padding: 0;
          text-align: center;
      }
      #holder {
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          -webkit-box-shadow: 0 1px 3px #666;
          background: #ddd url(http://raphaeljs.com/images/bg.png);
          margin: 0 auto;
          width: 1200px;
          height: 480px;
      }
      p {
          text-align: left;
          margin: .5em 2em;
      }
    </style>
    <script src="js/raphael-min.js" type="text/javascript" charset="utf-8"></script> 
    <script src="js/g.raphael-min.js" type="text/javascript" charset="utf-8"></script> 
    <script src="js/g.line-min.js" type="text/javascript" charset="utf-8"></script> 
    <script type="text/javascript" charset="utf-8">
      window.onload = function () {
        r = Raphael("holder");
        var voltage = <%= @voltages.inspect %>;
        var amps = <%= @amps.inspect %>;
        r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

        var x = [];

        for (var i = 0; i < voltage.length; i++) {
          x[i] = i;
        }

        r.g.linechart(20, 10, 1160, 420, x, [voltage, amps], {smooth: true, axis: "0 1 0 1", symbol: "o", legend: ["asdf", "qwer"], legendpos: "west"});
      };
    </script> 
  </head>
  <body>
    <div id="holder"></div>
  </body>
</html>
