body {
  background: #999;
  font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}
#header h1 {
  font-family: 'Rock Salt', arial, serif;
  margin: 0;
}
#holder {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px #666;
  background: #fff;
  margin: 0 auto;
  width: 1200px;
  height: 480px;
}
.column-content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px #666;
  background: #fff;
}
#graph-list ul {
  margin: 0;
  text-align: left;
}
#current-graph-name {
  margin-bottom: 2em;
}


ul {
  list-style: none;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

li.selected {
  -webkit-border-radius: 10px;
  background: #999;
  width: 400;
}
#container {
  margin-top: 1em;
}
